<!DOCTYPE html>
{% extends 'user/user_base.html' %}
{% load static %}
{% block content %}
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
<html>
<head>
    <meta charset="utf-8" />
    <title>Credit Card Payment Form Template | PrepBootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />

    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <!-- <h1>Credit Card Payment Form <small>A responsive credit card payment template</small></h1> -->
</div>

<!-- Credit Card Payment Form - START -->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <h2 style="color: blue;">Amount to be Paid={{fee}}/-</h2>
            <div class="panel panel-default">
                <div class="panel-heading">

                    <div class="row">

                        <h3 class="text-center">Payment Details</h3>
                        <img class="img-responsive cc-img" src="https://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
                    </div>
                </div>
                <div class="panel-body">
                    <form role="form" method="post" action="{% url 'bookingview' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="hidden" class="form-control" name="id" placeholder="Valid Card Number" value="{{tid}}">

                                        <input type="tel" class="form-control" placeholder="Valid Card Number" required pattern="[0-9]{4}[0-9]{4}[0-9]{4}[0-9]{4}"/>
                                        <span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                    <input type="text" class="form-control" placeholder="MM / YYYY" id="monthYear" placeholder="MM/YYYY" onchange="validateMonthYear()" required />
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label>CV CODE</label>
                                    <input type="tel" class="form-control" placeholder="CVC" pattern="[0-9]{3}" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>CARD OWNER</label>
                                    <input type="text" class="form-control" placeholder="Card Owner Names" />
                                </div>
                            </div>
                        </div>

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12">
                               <button type="submit" class="btn btn-warning btn-lg btn-block">Process payment</b</a>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

<style>
    .cc-img {
        margin: 0 auto;
    }
</style>

</div>
<script>
    function validateMonthYear() {
        var monthYearInput = document.getElementById("monthYear").value;
        var pattern = /^(0[1-9]|1[0-2])\/\d{4}$/;

        if (!pattern.test(monthYearInput)) {
            alert("Invalid month and year format! Please enter in MM/YYYY format.");
            return;
        }

        var inputParts = monthYearInput.split('/');
        var inputMonth = parseInt(inputParts[0], 10);
        var inputYear = parseInt(inputParts[1], 10);
        var currentDate = new Date();
        var currentMonth = currentDate.getMonth() + 1; // JavaScript months are 0-based, so we add 1

        if (inputYear < currentDate.getFullYear() || (inputYear === currentDate.getFullYear() && inputMonth < currentMonth)) {
            alert("Past dates and years are not allowed!");
            document.getElementById("monthYear").value = ''; // Clear input field if past date or year is entered
        }
    }
    </script>
</body>
</html>
{% endblock %}